version: '3.8'

services:
  bot:
    build: .
    container_name: viknadomi_bot
    restart: always
    env_file:
      - .env
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
